# Gradle
.gradle/
build/
*/build/

# Local Android SDK
local.properties

# Android Studio
*.iml
.idea/
*.idea/
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# APK firmados/alineados generados localmente
*.apk
app-release-aligned*.apk
app-release-signed*.apk
